<div style="position: fixed;bottom:0; right: 0; z-index:999000; background-color:rgba ffffff; border-radius:15%; margin:20px;">
    <MudAvatar Color="Color.Transparent" Variant="Variant.Outlined" >@index</MudAvatar>
</div>




@code

{
    [Parameter] public int index{get ; set;}
}